<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Boletos electrónicos" %></title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/ui.css">

  <% if (css) { %>
    <link rel="stylesheet" href="/css/<%= css %>">
  <% } %>
</head>
<body>