.event {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Imagen */
.event-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 12px;
}

/* Información */
.event-info h2 {
  font-size: 1.4rem;
}

.event-info p {
  color: #555;
  font-size: 0.95rem;
}

/* Acción */
.event-action {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
}

.event-action.right {
  justify-content: flex-end;
}

/* Ubicación */
.event-location {
  background: rgba(100, 60, 60, 0.5);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0.5rem;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.event-location iframe {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.info-line {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.95rem;
  color: #eee;
  margin-top: 0.4rem;
}

.info-line .icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  color: #ffcc66; 
}

/* Redes */
.event-social {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  backdrop-filter: blur(4px);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  text-decoration: none;
  font-weight: bold;
  color: #0077cc;
}

/* Tablet y superior */
@media (min-width: 767px) {

    .event {
    max-width: 50%;
  }

  .event-location {
    flex-direction: row;
  }

  .map,
  .location-info {
    width: 50%;
  }
}
